<STYLE type="text/css">
<!--
BODY
{
    BACKGROUND-COLOR: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    COLOR: #555555;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 10pt
}
P
{
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt
}
TD
{  
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt
}
A:VISITED
{
    TEXT-DECORATION: UNDERLINE;
    COLOR: #999999
}
A:HOVER
{
    TEXT-DECORATION: UNDERLINE;
    COLOR: #0000FF;
    FONT-STYLE:ITALIC 
}
A:LINK
{
    TEXT-DECORATION: UNDERLINE;
    COLOR: #990000
}
-->
</STYLE>