---
import Player from '../components/vue/Player.vue';
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>MazeReader</title>
	</head>
	<body class="bg-slate-500">
		<Player client:load />
	</body>
</html>
